<%= govuk_back_link(href: "/") %>

<% filename = @bulk_submission&.original_file&.filename %> <%# erblint:disable Rubocop %>

<%= form_with(
      model: @bulk_submission,
      method: :delete,
      local: true
    ) do |form| %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl"><%= t(".page_heading") %></h1>

      <%= govuk_summary_list(
        rows: [
          { key: { text: t(".uploaded_by") }, value: { text: @bulk_submission.user.full_name } },
          { key: { text: t(".created_at") }, value: { text: @bulk_submission.created_at&.to_fs(:date_only) } },
          { key: { text: t(".expires_at") }, value: { text: @bulk_submission.expires_at&.to_fs(:date_only) } },
          { key: { text: t(".filename") }, value: { text: filename } },
          { key: { text: t(".status") }, value: { text: govuk_status_tag(@bulk_submission.status) } }
        ]
      ) %>

      <%= hidden_field_tag(:context, @context) %>

      <% if @context == "cancel" %>
        <%= form.govuk_submit(t(".confirm_cancel_html", filename:), warning: true) %>
      <% elsif @context == "remove" %>
        <%= form.govuk_submit(t(".confirm_remove_html", filename:), warning: true) %>
      <% end %>

      <% if @bulk_submission.ready? %>
        <%= govuk_button_link_to(t(".download_html", filename:),
                                 rails_blob_path(@bulk_submission.result_file.blob, disposition: 'attachment'),
                                 secondary: true) %>
      <% end %>
    </div>
  </div>
<% end %>
