<%= content_for :page_title, t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t('.internal_server_error') %></h1>

    <p class="govuk-body"><%= t('.try_again_later') %></p>

    <p class="govuk-body"><%= t('.not_saved') %></p>

    <p class="govuk-body"><%= t('.questions_html', email: t('service.email')) %></p>
  </div>
</div>
