<!DOCTYPE html>
<html lang="en" class="govuk-template--rebranded">
  <head>
    <title><%= [yield(:page_title).presence, t('service.name')].compact.join(' - ') %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name='viewport' content='width=device-width initial-scale=1'>
    <meta property='og:image' content=asset_path('images/govuk-opengraph-image.png')>
    <meta name='theme-color' content='#0b0c0c'>
    <%= favicon_link_tag image_path('images/favicon.ico'), type: nil, sizes: "48x48" %>
    <%= favicon_link_tag image_path('images/favicon.svg'), type: 'image/svg+xml', sizes: "any" %>
    <%= favicon_link_tag image_path('images/govuk-icon-mask.svg'), rel: 'mask-icon', color: "#0b0c0c", type: nil %>
    <%= favicon_link_tag image_path('images/govuk-icon-180.png'), rel: 'apple-touch-icon', type: nil %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="govuk-template__body">
    <script nonce="<%= request.content_security_policy_nonce %>">
      document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    </script>

    <%= govuk_skip_link %>

    <header class="moj-header" role="banner">
      <div class="moj-header__container">
        <div class="moj-header__logo">
          <%= render(partial: "layouts/header_logo") %>
          <a class="moj-header__link moj-header__link--organisation-name" href="https://intranet.justice.gov.uk/?agency=laa">Legal Aid Agency</a>
        </div>
        <div class="moj-header__content">
          <nav class="moj-header__navigation" aria-label="Account navigation">
            <ul class="moj-header__navigation-list">
              <% if current_user %>
                <%= tag.li(
                      link_to(
                        current_user.full_name, user_path(current_user.id),
                        class: "moj-header__navigation-link",
                        "aria-current": current_page?(user_path(current_user&.id))),
                      class: "moj-header__navigation-item"
                    ) %>
                <%= tag.li(
                      link_to(t("layouts.sign_out"), destroy_user_session_path, class: "moj-header__navigation-link"),
                      class: "moj-header__navigation-item"
                    ) %>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <%= govuk_service_navigation(service_name: t("service.name"), service_url: "/") do |header| %>
      <% if current_user %>
        <%= header.with_navigation_item(
          text: t("layouts.checked_details"),
          href: bulk_submissions_path,
          active: current_page?(bulk_submissions_path) || current_page?(authenticated_root_path)) %>
      <% end %>
    <% end %>

    <div class="govuk-width-container">
      <main class="govuk-main-wrapper" id="main-content" role="main">
        <% if flash[:error] %>
          <div class="govuk-error-summary">
            <h2 class="govuk-error-summary__title"><%= flash[:error] %></h2>
          </div>
        <% end %>

        <% if flash[:alert] %>
          <%= govuk_notification_banner(
                title_text: t("generic.important"),
                text: flash[:alert],
              ) %>
        <% end %>

        <% if flash[:notice] %>
          <%= govuk_notification_banner(
                title_text: t("generic.important"),
                text: flash[:notice],
              ) %>
        <% end %>

        <%= yield %>
      </main>
    </div>

    <%= govuk_footer %>
  </body>
</html>
