<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <title><%= [yield(:page_title).presence, t('service.name')].compact.join(' - ') %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name='viewport' content='width=device-width initial-scale=1'>
    <meta property='og:image' content=asset_path('images/govuk-opengraph-image.png')>
    <meta name='theme-color' content='#0b0c0c'>
    <%= favicon_link_tag asset_path('images/favicon.ico') %>
    <%= favicon_link_tag asset_path('images/govuk-mask-icon.svg'), rel: 'mask-icon', type: 'image/svg', color: "#0b0c0c" %>
    <%= favicon_link_tag asset_path('images/govuk-apple-touch-icon.png'), rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag asset_path('images/govuk-apple-touch-icon-152x152.png'),
        rel: 'apple-touch-icon',
        type: 'image/png',
        size: '152x152' %>
    <%= favicon_link_tag asset_path('images/govuk-apple-touch-icon-167x167.png'),
        rel: 'apple-touch-icon',
        type: 'image/png',
        size: '167x167' %>
    <%= favicon_link_tag asset_path('images/govuk-apple-touch-icon-180x180.png'),
        rel: 'apple-touch-icon',
        type: 'image/png',
        size: '180x180' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="govuk-template__body">
    <script nonce="<%= request.content_security_policy_nonce %>">
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <%= govuk_skip_link %>

    <%= govuk_header(service_name: t("service.name")) do |header| %>
      <% if current_user %>
        <%= header.with_navigation_item(
          text: t("layouts.checked_details"),
          href: bulk_submissions_path,
          active: current_page?(bulk_submissions_path) || current_page?(authenticated_root_path)) %>

        <%= header.with_navigation_item(
          text: current_user.full_name,
          href: user_path(current_user.id),
          active: current_page?(user_path(current_user&.id))) %>

        <%= header.with_navigation_item(
          text: t("layouts.sign_out"),
          href: destroy_user_session_path,
          active: false) %>
      <% end %>
    <% end %>

    <div class="govuk-width-container">
      <main class="govuk-main-wrapper" id="main-content" role="main">
        <% if flash[:error] %>
          <div class="govuk-error-summary">
            <h2 class="govuk-error-summary__title"><%= flash[:error] %></h2>
          </div>
        <% end %>

        <% if flash[:alert] %>
          <%= govuk_notification_banner(
                title_text: t("generic.important"),
                text: flash[:alert],
              ) %>
        <% end %>

        <% if flash[:notice] %>
          <%= govuk_notification_banner(
                title_text: t("generic.important"),
                text: flash[:notice],
              ) %>
        <% end %>

        <%= yield %>
      </main>
    </div>

    <%= govuk_footer %>
  </body>
</html>
